{% extends 'admin/base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<!-- banner -->
{% for part in livraison %}


    <div class="container">
        <h1>{{part.getBannerTitle()}}</h1>
        <p>{{part.getBannerText()}}</p>
        
        <h1>{{part.getDescTitle()}}</h1>
        <p>{{part.getDescText()}}</p>
        <br>
        <br>
        <br>
        

        <a href="{{ path('modif_livraison', {"id": part.getId()}) }}" class="btn btn-primary">Editer</a>
      </div>


{% endfor %}
{% endblock %}
