<div class="container">
            <h1>Modifier les informations de la page d'acceuil</h1>
            {# banner #}
            <div class="mb-3">
                {{ form_row(form.banner_img) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.banner_title) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.banner_text) }}
            </div>
            {# VTC #}
            <div class="mb-3">
                {{ form_row(form.desc_vtc_img) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.desc_vtc_title) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.desc_vtc_text) }}
            </div>
            {# Livraison #}
            <div class="mb-3">
                {{ form_row(form.desc_liv_img) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.desc_liv_title) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.desc_liv_text) }}
            </div>
            
        </div>