{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

{% for part in apropos %}
<section class="page-title page-title-overlay bg-cover overflow-hidden" data-background="{{asset("assets/images/background/about.jpg")}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="text-white position-relative">A propos<span class="watermark-sm">A propos</span></h1>
        <p class="text-white pt-4 pb-4">Cupidatat non proident sunt culpa qui officia deserunt mollit <br> anim idest
          laborum sed ut perspiciatis.</p>
      </div>
      <div class="col-lg-3 ml-auto align-self-end">
        <nav class="position-relative zindex-1" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-lg-end bg-transparent mb-4 px-0">
            <li class="breadcrumb-item"><a href="index-2.html" class="text-white">Home</a></li>
            <li class="breadcrumb-item text-white fw-bold" aria-current="page">A propos</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>


<!-- about agico -->
<section class="section">
  <div class="container">
  <div class="row">
    <div class="col-md-6 pr-lg-4 mb-4 mb-md-0">
      <div class="position-relative" data-aos="fade-right">
        <img src="{{asset("assets/images/about/about-3.jpg")}}" class="img-fluid rounded-sm" alt="video-bg">
        <div class="floating-video overlay rounded-sm">
          <img src="{{asset("assets/images/about/about-4.jpg")}}" class="img-fluid rounded-sm" alt="video-thumb">
          <a class="venobox play-icon icon-center" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=jrkvirglgaQ">
            <i class="fa fa-play text-secondary bg-white rounded-circle"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 align-self-center pl-lg-4">
      <p class="subtitle" data-aos="fade-up">A propos de Fano Logistics</p>
      <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{part.getDescTitle()}}</h2>
      <p data-aos="fade-up" data-aos-delay="400">{{part.getDescText()}}</p>
      <a class="btn btn-primary" href="#" data-aos="fade-up" data-aos-delay="600">Contact Us</a>
    </div>
  </div>
</div>
</section>
<!-- about agico -->
{% endfor %}
<!-- counter -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="8">0</span>K+</p>
        <h6 class="text-dark font-weight-normal">Downloads per day</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="20">0</span>+</p>
        <h6 class="text-dark font-weight-normal">Design awards</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="25">0</span>K+</p>
        <h6 class="text-dark font-weight-normal">Totally satisfied users</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="30">0</span>+</p>
        <h6 class="text-dark font-weight-normal">People behind this app</h6>
      </div>
    </div>
  </div>
</section>
<!-- counter -->

<!-- feature -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="subtitle" data-aos="fade-up">Services</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">Our Service Area</h2>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="00">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-object-ungroup icon-lg icon-primary icon-bg-primary icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Networking</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-users icon-lg icon-yellow icon-bg-yellow icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Social Activity</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="400">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-desktop icon-lg icon-purple icon-bg-purple icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Web Design</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="600">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-cloud icon-lg icon-cyan icon-bg-cyan icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Cloud Service</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="00">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-comments icon-lg icon-red icon-bg-red icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Consulting</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-search-plus icon-lg icon-green icon-bg-green icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">SEO Optimization</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="400">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-line-chart icon-lg icon-orange icon-bg-orange icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Usability Testing</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="600">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-wpexplorer icon-lg icon-blue icon-bg-blue icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">UX Prototyping</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature -->

<!-- testimonial -->
<section class="section bg-light bg-map">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" src="{{asset("assets/images/homepage-3/testimonial-img.png")}}" alt="">
      </div>
      <div class="col-md-6">
        <p class="subtitle">testimonials</p>
        <h2 class="section-title mb-5">What Our Clients Says?</h2>
        <div class="testimonial-slider-single">
          <div class="slider-item">
            <img class="mb-5" src="{{asset("assets/images/quotation/quotation.png")}}" alt="quote-icon">
            <p class="font-italic mb-4">Lorem ipsum dolor sit amet consectetur adipicing elit sed do
              usmod tempor
              incididunt.enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip
              commodo.</p>
            <h5 class="text-dark">Liam Hughes</h5>
            <h6 class="text-color">Happy client</h6>
          </div>
          <div class="slider-item">
            <img class="mb-5" src="{{asset("assets/images/quotation/quotation.png")}}" alt="quote-icon">
            <p class="font-italic mb-4">Lorem ipsum dolor sit amet consectetur adipicing elit sed do
              usmod tempor
              incididunt.enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip
              commodo.</p>
            <h5 class="text-dark">Liam Hughes</h5>
            <h6 class="text-color">Happy client</h6>
          </div>
          <div class="slider-item">
            <img class="mb-5" src="{{asset("assets/images/quotation/quotation.png")}}" alt="quote-icon">
            <p class="font-italic mb-4">Lorem ipsum dolor sit amet consectetur adipicing elit sed do
              usmod tempor
              incididunt.enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip
              commodo.</p>
            <h5 class="text-dark">Liam Hughes</h5>
            <h6 class="text-color">Happy client</h6>
          </div>
          <div class="slider-item">
            <img class="mb-5" src="{{asset("assets/images/quotation/quotation.png")}}" alt="quote-icon">
            <p class="font-italic mb-4">Lorem ipsum dolor sit amet consectetur adipicing elit sed do
              usmod tempor
              incididunt.enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip
              commodo.</p>
            <h5 class="text-dark">Liam Hughes</h5>
            <h6 class="text-color">Happy client</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial -->

<!-- team -->

<section class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="subtitle" data-aos="fade-up" data-aos-delay="00">Equipe</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">Personnel qualifié</h2>
      </div>
      <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member text-center">
          <img src="{{asset("assets/images/team/team-member-1.jpg")}}" class="img-fluid w-100 rounded-sm" alt="">
          <div class="team-member-content p-4">
            <h5 class="team-member-name text-white">Justine Marshall</h5>
            <p class="team-member-designation text-light">Designer</p>
            <ul class="list-inline team-member-social">
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-delay="500">
        <div class="team-member text-center">
          <img src="{{asset("assets/images/team/team-member-2.jpg")}}" class="img-fluid w-100 rounded-sm" alt="">
          <div class="team-member-content p-4">
            <h5 class="team-member-name text-white">Liam Hughes</h5>
            <p class="team-member-designation text-light">Developer</p>
            <ul class="list-inline team-member-social">
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-delay="700">
        <div class="team-member text-center">
          <img src="{{asset("assets/images/team/team-member-3.jpg")}}" class="img-fluid w-100 rounded-sm" alt="">
          <div class="team-member-content p-4">
            <h5 class="team-member-name text-white">Neil Roberts</h5>
            <p class="team-member-designation text-light">Marketer</p>
            <ul class="list-inline team-member-social">
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="text-white fa fa-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team -->



{% endblock %}
