{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

{% for part in contact %}
<section class="page-title page-title-overlay bg-cover overflow-hidden" data-background="{{asset("assets/images/background/about.jpg")}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="text-white position-relative">Contact<span class="watermark-sm">Contact</span></h1>
        <p class="text-white pt-4 pb-4">Cupidatat non proident sunt culpa qui officia deserunt mollit <br> anim idest
          laborum sed ut perspiciatis.</p>
      </div>
      <div class="col-lg-3 ml-auto align-self-end">
        <nav class="position-relative zindex-1" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-lg-end bg-transparent mb-4 px-0">
            <li class="breadcrumb-item"><a href="index-2.html" class="text-white">Home</a></li>
            <li class="breadcrumb-item text-white fw-bold" aria-current="page">Contact</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 rounded-xs mobile-height mb-5 mb-lg-0" id="map_canvas" data-latitude="5.356331" data-longitude="-3.967696" data-marker="{{asset("assets/images/marker.png")}}"></div>
      <div class="col-lg-4">
        <div class="p-5 rounded-xs shadow">
          <h3 class="text-dark">Keep in Touch</h3>
          <p class="border-bottom pb-4">Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor</p>
          <ul class="list-unstyled">
            <li class="d-flex mb-4" data-aos="fade-up" data-aos-delay="100">
              <i class="fa fa-map-o icon-primary"></i>
              <div class="pl-3">
                <h6 class="text-dark">Address</h6>
                <ul class="list-unstyled">
                  <li>{{part.getAdress()}}</li>
                </ul>
              </div>
            </li>
            <li class="d-flex mb-4" data-aos="fade-up" data-aos-delay="200">
              <i class="fa fa-envelope-o icon-primary"></i>
              <div class="pl-3">
                <h6 class="text-dark">Email</h6>
                <ul class="list-unstyled">
                  <li>{{part.getEmail()}}</li>
                </ul>
              </div>
            </li>
            <li class="d-flex mb-4" data-aos="fade-up" data-aos-delay="300">
              <i class="fa fa-phone icon-primary"></i>
              <div class="pl-3">
                <h6 class="text-dark">Mobile</h6>
                <ul class="list-unstyled">
                  <li>{{part.getNumber1()}}</li>
                  <li>{{part.getNumber2()}}</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
<section class="section section-lg-bottom bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="subtitle">Message</p>
        <h2 class="section-title">Laisser un message</h2>
      </div>
      <div class="col-12 text-center">
        <form action="#" class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" placeholder="Your email">
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" placeholder="Your Name">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" placeholder="Subject">
          </div>
          <div class="col-12">
            <textarea name="message" class="form-control mb-4" placeholder="Message"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>



{% endblock %}
