{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<!-- banner -->
{% for part in acceuils %}

<section class="hero-area hero-area-lg position-relative">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center text-lg-left mb-4 mb-lg-0">
        <h1 class="text-dark position-relative">{{part.getBannerTitle()}}<span class="watermark">Fano</span></h1>
        <p class="text-dark mb-4">{{part.getBannerText()}}</p>
        <ul class="list-inline">
          <li class="list-inline-item mx-1 my-2">
            <a href="{{path('vtc_home')}}" class="btn btn-primary">VTC</a>
          </li>
          <li class="list-inline-item mx-1 my-2">
            <a href="{{path('livraison_home')}}" class="btn btn-outline-primary">Livraison</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <img src="{{asset("assets/images/banner/banner-3.png")}}" class="img-fluid w-100 shadow rounded-lg" alt="app-interface" data-aos="fade-left" data-aos-delay="1000">
      </div>
    </div>
  </div>
  <img src="{{asset("assets/images/homepage-3/banner-shape-1.png")}}" class="img-fluid bg-shape-4" alt="shape">
</section>
<!-- banner -->

{# <!-- feature -->
<section class="position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="00">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-desktop icon-lg icon-blue icon-bg-blue icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Exclusive Design</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-gears icon-lg icon-orange icon-bg-orange icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Easy Customize</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-shield icon-lg icon-purple icon-bg-purple icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Extreme Security</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-clock-o icon-lg icon-green icon-bg-green icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">24 Hour Service</h4>
            <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="{{asset("assets/images/dot/dot-1.png" class="img-fluid feature-bg-shape-1" alt="background-dots">
  <img src="{{asset("assets/images/shape/shape-bg.png" class="img-fluid feature-bg-shape-2" alt="background-shape">
</section>
<!-- feature --> #}

<!-- integration -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-lg-5 text-center">
        <img src="{{asset("assets/images/integration/images__22_-removebg-preview.png")}}" class="img-fluid" alt="dashboard" width="500" data-aos="fade-right">
      </div>
      <div class="col-md-6 pl-lg-5">
        <p class="subtitle" data-aos="fade-up">01</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{part.getDescVtcTitle}}</h2>
        <p class="mb-4" data-aos="fade-up" data-aos-delay="400">{{part.getDescVtcText}}</p>
        <ul class="list-unstyled">
          <li class="d-flex mb-4" data-aos="fade-up" data-aos-delay="500">
            <div class="pr-3 pr-lg-5">
              <i class="fa fa-check text-secondary bg-white shadow icon-sm"></i>
            </div>
            <div>
              <h5>Extreme Security</h5>
              <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore
                magna.</p>
            </div>
          </li>
          <li class="d-flex" data-aos="fade-up" data-aos-delay="550">
            <div class="pr-3 pr-lg-5">
              <i class="fa fa-check text-secondary bg-white shadow icon-sm"></i>
            </div>
            <div>
              <h5>Extreme Security</h5>
              <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore
                magna.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-lg-5">
        <p class="subtitle" data-aos="fade-up">02</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{part.getDescLivTitle}}</h2>
        <p data-aos="fade-up" data-aos-delay="300">{{part.getDescVtcText}}</p>
        <p class="mb-4" data-aos="fade-up" data-aos-delay="400">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint
          occaecat cupidatat non proident.</p>
        <a href="#" class="mb-4 btn btn-outline-primary" data-aos="fade-up" data-aos-delay="500">read nore</a>
      </div>
      <div class="col-md-6 pl-lg-5">
        <img src="{{asset("assets/images/integration/image3.png")}}" class="img-fluid" alt="dashboard" data-aos="fade-left"  data-aos-delay="200">
      </div>
    </div>
  </div>
</section>
<!-- integration -->
{% endfor %}
{# <!-- counter -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="8">0</span>K+</p>
        <h6 class="text-dark font-weight-normal">Downloads per day</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="20">0</span>+</p>
        <h6 class="text-dark font-weight-normal">Design awards</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="25">0</span>K+</p>
        <h6 class="text-dark font-weight-normal">Totally satisfied users</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="30">0</span>+</p>
        <h6 class="text-dark font-weight-normal">People behind this app</h6>
      </div>
    </div>
  </div>
</section>
<!-- counter --> #}

{# <!-- download -->
<section class="section bg-gradient-purple bg-triangles position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto text-center">
        <h2 class="section-title text-white">Download Agico Now</h2>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam quis nostrud exercitation
          ullamco laboris aliquip commodo consequat</p>
      </div>
      <div class="col-12 section border-bottom border-gray mb-80">
        <div class="pulse-container">
          <div class="pulse-box">
            <a class="venobox play-icon icon-center" data-autoplay="true" data-vbtype="video"
              href="https://www.youtube.com/watch?v=jrkvirglgaQ"><i class="fa fa-play text-secondary"></i></a>
            <svg class="pulse-svg" width="90px" height="90px" viewBox="0 0 50 50" version="1.1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <circle class="circle first-circle" fill="#fff" cx="25" cy="25" r="25"></circle>
              <circle class="circle second-circle" fill="#fff" cx="25" cy="25" r="25"></circle>
              <circle class="circle third-circle" fill="#fff" cx="25" cy="25" r="25"></circle>
              <circle class="circle" fill="#fff" cx="25" cy="25" r="25"> </circle>
            </svg>
          </div>
        </div>
      </div>
      <!-- parthner -->
      <div class="col-12">
        <ul class="list-inline d-flex justify-content-between align-items-center position-relative zindex-1">
          <li class="list-inline-item"><img class="img-fluid p-2" src="{{asset("assets/images/partner/client-logo-1-alt.png" alt="partner-1"></li>
          <li class="list-inline-item"><img class="img-fluid p-2" src="{{asset("assets/images/partner/client-logo-2-alt.png" alt="partner-2"></li>
          <li class="list-inline-item"><img class="img-fluid p-2" src="{{asset("assets/images/partner/client-logo-3-alt.png" alt="partner-3"></li>
          <li class="list-inline-item"><img class="img-fluid p-2" src="{{asset("assets/images/partner/client-logo-4-alt.png" alt="partner-4"></li>
          <li class="list-inline-item"><img class="img-fluid p-2" src="{{asset("assets/images/partner/client-logo-5-alt.png" alt="partner-5"></li>
        </ul>
      </div>
      <!-- parthner -->
    </div>
  </div>
</section>
<!-- download --> #}

<!-- testimonial -->
<section class="section bg-light bg-map">
  <div class="container">
    <div class="row">
      <div class="col-md-6" >
        <img class="img-fluid" src="{{asset("assets/images/homepage-3/testimonial-img.png")}}" alt="clients">
      </div>
      <div class="col-md-6">
        <p class="subtitle">Temoignage</p>
        <h2 class="section-title mb-5">Que disent nos client ?</h2>
        <div class="testimonial-slider-single">
          <div class="slider-item">
            <img class="mb-5" src="{{asset("assets/images/quotation/quotation.png")}}" alt="quote-icon">
            <p class="font-italic mb-4">Lorem ipsum dolor sit amet consectetur adipicing elit sed do
              usmod tempor
              incididunt.enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip
              commodo.</p>
            <h5 class="text-dark">Liam Hughes</h5>
            <h6 class="text-color">Happy client</h6>
          </div>
          <div class="slider-item">
            <img class="mb-5" src="{{asset("assets/images/quotation/quotation.png")}}" alt="quote-icon">
            <p class="font-italic mb-4">Lorem ipsum dolor sit amet consectetur adipicing elit sed do
              usmod tempor
              incididunt.enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip
              commodo.</p>
            <h5 class="text-dark">Liam Hughes</h5>
            <h6 class="text-color">Happy client</h6>
          </div>
          <div class="slider-item">
            <img class="mb-5" src="{{asset("assets/images/quotation/quotation.png")}}" alt="quote-icon">
            <p class="font-italic mb-4">Lorem ipsum dolor sit amet consectetur adipicing elit sed do
              usmod tempor
              incididunt.enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip
              commodo.</p>
            <h5 class="text-dark">Liam Hughes</h5>
            <h6 class="text-color">Happy client</h6>
          </div>
          <div class="slider-item">
            <img class="mb-5" src="{{asset("assets/images/quotation/quotation.png")}}" alt="quote-icon">
            <p class="font-italic mb-4">Lorem ipsum dolor sit amet consectetur adipicing elit sed do
              usmod tempor
              incididunt.enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip
              commodo.</p>
            <h5 class="text-dark">Liam Hughes</h5>
            <h6 class="text-color">Happy client</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial -->

<section class="section section-lg-bottom">
  <!-- blog -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="section-title">Partenaire</h2>
    </div>
    <div class="col-12">
      <div class="blog-slider">
        <div class="px-3 mb-5">
            <li class="list-inline-item"><img class="img-fluid p-2" src="{{asset("assets/images/partner/client-logo-1-alt.png")}}" alt="partner-1"></li>
        </div>
        <div class="px-3 mb-5">
            <li class="list-inline-item"><img class="img-fluid p-2" src="{{asset("assets/images/partner/client-logo-1-alt.png")}}" alt="partner-1"></li>
        </div>
        <div class="px-3 mb-5">
            <li class="list-inline-item"><img class="img-fluid p-2" src="{{asset("assets/images/partner/client-logo-1-alt.png")}}" alt="partner-1"></li>
        </div>
        <div class="px-3 mb-5">
            <li class="list-inline-item"><img class="img-fluid p-2" src="{{asset("assets/images/partner/client-logo-1-alt.png")}}" alt="partner-1"></li>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog -->
</section>



{% endblock %}
